header {
  margin: 0.2rem 0;
  display: flex;
}

figure img {
  width: 80vw;
}

section {
  background-color: yellow;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
h6 {
  padding: 0 5rem;
}
h1 {
  font-size: 2rem;
  padding: 0 5rem;
}
hr {
  margin: 0 5rem;
}
p {
  padding: 0 5rem;
}
.btn-top {
  background: black;
  color: white;
  padding: 0.5rem;
  margin-left: 5rem;
  margin-right: 18rem;
  display: flex;
  justify-content: center;
}

div button {
  padding: 1rem 5rem;
}
button:hover {
  cursor: pointer;
}
